* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width:100%;
    
  }
  
  html{
    height:100%;
    width:100%;
    min-width: fit-content;
  }

  body {
    
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
  }
  
  header {
    background-color: #fff;
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  }

  nav{
    width:100%;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
  }
  
  .logo a {
    font-size: 28px;
    font-family: "Rock Salt", Helvetica, Arial, sans-serif;
    color: #333;
    text-decoration: none;
    
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin-right: 30px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links a {
    color: #333;
    font-size: 16px;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
  }
  
  .nav-links a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #007bff;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-links a:hover::after {
    width: 100%;
  }
  /**hambuger menu animation*/
  .nav-links.open{
    display:flex;
    height:235px;

  }

  .hamburger {
    display: none;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: relative;
  }
  
  .bar {
      position:absolute;
  
			
			width: 30px;
			height: 3px;
			background-color: #000;
			transition: transform 0.3s ease-in-out;
  }
  
  .bar:nth-child(1) {
    top: 0;
  }
  
  .bar:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .bar:nth-child(3) {
    bottom: 0;
  }
  .hamburger.open div:first-child {
    transform: translate(0%, 275%) rotate(45deg);
  }

  /* Hide the second line when the menu is opened */
  .hamburger.open div:nth-child(2) {
    opacity: 0;
  }

  /* Rotate the third line when the menu is opened */
  .hamburger.open div:last-child {
    transform: translate(0%, -275%) rotate(-45deg);
  }


.theBEAST{
  position:absolute;
  z-index:1;
  left:40%;
}
.theBEAST img {
  height:90px;
  opacity:0;
}

img{
  max-width:100%;
}

  div{
    display:block;
  }

    .bigcontainer{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }

  .video-container {
    width:100%;
    max-width: 100%;
    height:auto;
    position: fixed;
    top:0;
    z-index: -999;
    filter: brightness(50%);
    
}
.video-container video{
    /*dont touch this im a genius*/
    width:100%;
    max-width:100%;
    min-height:100vh;
    object-fit:cover;
    overflow:hidden;
}

#homeimage1{
    background-image:url(../media/alexbaby.gif);
    min-height:100vh;
    position: relative;
    bottom:0px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
    z-index:-400;
}

/**
#video2{
    z-index:-10;
}*/


.overlay {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.flexbox{
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  
}

.flexbox div {
  flex: 1;
  padding: 0.5em;
  text-align: center;
  border-right: 1px solid white;
  min-width: 0;

}

.flexbox div:last-child {
  border: none; 
}

.flexbox .fuckoff{
  padding:0px;
  border-right:0px;
}

.iframebox{
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  
}

.iframebox div {
  flex: 1;
  padding: 0.5em;
  text-align: center;
  border-right: 1px solid white;
}

.iframebox div:last-child {
  border: none; 
}

iframe{
  width: 646px;
}

.middlebits{
    width:100%;
    background-color:aliceblue;
    padding: 50px 10%;
    padding-bottom:60px;
    text-align:justify;
}

.middlebits h1{
    text-align:center;
}



  @media only screen and (max-width: 768px) {
    .nav-links {
      height:0px;
      background-color:white;
      left:0px;
      align-items: center;
      width:100%;
      top:86px;
      position:absolute;
      flex-direction: column;
      transition: height .4s ease;
      overflow:hidden;
      
    }
    .nav-container{
      
      width:100vw;
      margin:0px;
    }
    .nav-links li{
     
      width:100%;
      margin-right:0px;
      padding:5px;
      font-size:medium;
      border-bottom:1px solid lightgray;
    }
    .nav-links a{
      text-align:center;
      font-size:large;
      display:block;

      padding-top:10px;
    }

    .hamburger {
      display: block;
   
    }
    
    .iframebox{
      flex-direction: column;
    }

    iframe{
      width: 75%;
    }

    .timeline .flexbox{
      flex-direction: column;
      
    }


  }  